// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    position: relative;
    min-height: 100%;
  }
header{
    font-size: 30px;
    background-color: rgb(211, 208, 208);

}